.h{
    background-color: yellow;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: initial;
    text-align: center;
    padding: 15px;

}
*{
    margin: 0;
}
div{ width: 400px;
    height: 250px;
    background-color:burlywood;
    margin: 10px;
    float:inline-start;
    
}
img{
    width: 70%;
    height: 100px;
    padding: 50px;
    border-radius: 10px;
    border-bottom-right-radius: 500px;

    

}
